name: Test
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: python test.py
      - run: |
          git config user.email "test@test.com"
          git config user.name "Test"
          git add data.json
          git commit -m "Update data" && git push || echo "No changes"